body {
    background-color: #ae89ea;
}

.results_playlist {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

a:hover {
    color: brown;
}