.playlist {
    position: relative;
    margin-top: 10rem;
    margin-left: 4rem;
    display: inline-block;
    margin-bottom: 4rem;
    padding: 3px 5px;
    border: 1px solid #3d1e4a;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 1.15rem;
}

.playlist_input {
    font-size: 1.75rem;
    color: #2f0c3d;
    width: 70%;
}

.saveButton {
    font-size: 1.2rem;
    color: white;
    background-color: #2f0c3d;
    margin-bottom: 0.5rem;
}

.saveButton:hover {
    background-color: #6e5677;
}
